.okc-app__essay-container {
	margin: 0 auto;
	max-width: 500px;
}

.okc-app__essay-body {
	margin-bottom: 2em;
}

.okc-app__essay-body__textarea {
	background-color: #fff;
	min-height: 100px;
	padding: 0.5em;
}