.okc-app__essay-container {
	max-width: 500px;
	margin: 0 auto;
}

.okc-app__essay-body {
	margin-bottom: 2em;
}

.okc-app__essay-body__textarea {
	width: 100%;
	min-height: 100px;
	background-color: #fff;
	padding: 0.5em;
}