//General styles
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #104da1;
	font-family: "GT America", "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

h2, h3 {
	margin-bottom: 1em;
	color: #56585c;
}

h2 {
	color: #2a2f35;
	font-size: 18px;
	font-weight: 500;
}

h3 {
	
	font-size: 15px;
	font-weight: 400;
}

p {
	color: #56585c;
	font-size: 14px;
	line-height: 1.41;
	margin: 0;
	padding: 0;
}

a {
	&:hover {
		cursor: pointer;
	}
}

button {
	background-color:#00d280;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	padding: 1em 3em;

	&:hover {
		background-color: #48e588;
	}
}

input, textarea {
	background-color: #fff;
	border: none;
	font-size: 14px;
	font-family: "GT America", "Roboto", sans-serif;
	line-height: 1.41;
	padding: 0.5em;
	width: 100%;
}

input {
	max-width: 400px;
}

textarea {
	resize: none;
}

//App Component styles
.okc-app-container {
	display: flex;
	justify-content: center;
	padding: 2em 0;
	width: 100%;
}

.okc-app {
	background-color: #ebedf2;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-height: 800px;
	max-width: 800px;
	overflow: hidden;
	width: 96%;
}

.okc-app__section {
	flex-basis: 50%;
	opacity: 1;
	overflow: hidden;
	padding: 2em;
	transition: opacity 0.2s ease-in-out, flex-basis 0.4s ease-in-out, padding 0.4s ease-in-out;
	text-align: left;

	&__essay {
		background-color: #f3f5f9;
	}
}

//Expanding & Contracting Sections When Editing
.okc-app__expand-essay {
	.okc-app__section {
		&__about-me {
			flex-basis: 0;
			opacity: 0;
			padding: 0;
		}

		&__essay {
			flex-basis: 100%;
		}
	}
}

@media screen and (max-width: 568px) {
	.okc-app {
		flex-direction: column;
	}

	.okc-app__section {
		flex: auto;
	}
}